.new-listing-dropdown-item {
  display: flex;
  align-items: center;
  padding: 0 !important;

  img {
    width: 30px;
    margin-right: 4px;
  }
}

.card-image-disabled {
  opacity: 0.5;
}

.card-image-wrapper-disabled {
  background-color: lightgray;
}
